# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder
Open built 1.09.0 raspberry pie 0.9 update 
Spy₹₹₹ i.e open www.openai.com
Chatgpt open ## code of python
### python termux terminal₹₹₹ Facebookraspberry10.9. Open link 
Termux click raspberrypie0.9
Facebook
